@{
@section head {
	<style>
		.btn {
			margin: 3px;
		}
	</style>
}

@section leftBox {
	<button id="logOut" class="btn btn-primary col-12" type="submit">Wyloguj się</button>
}

@section rightBox {
	<div id="notFound">
		<h1>UserNotFound</h1>
	</div>

	<div id="Login">
		<h4>Login</h4>
		<p></p>
	</div>

	<div id="Password">
		<h4>Hasło</h4>
		<p></p>
	</div>

	<div id="Email">
		<h4>Email</h4>
		<p></p>
	</div>

	<div id="Id">
		<h4>Numer konta</h4>
		<p></p>
	</div>

	
}

@section footer {
	<script>

		var user;

		

		function GetUser(id)
		{
			document.body.style.cursor = 'wait';
			$.ajax({
				type: 'GET',
				url: '/api/Users/' + id,
				success: function (result)
				{
					user = result;

					$('#notFound').remove();

					document.title = result.login;

					$('#Login > p').text(result.login);
					$('#Password> p').text(result.password);
					$('#Email> p').text(result.email);
					$('#Id > p').text(result.id);

					document.body.style.cursor = 'default';
				},
				error: function ()
				{
					$('#Login').remove();
					$('#Password').remove();
					$('#Email').remove();
					$('#Id').remove();
					document.body.style.cursor = 'default';
				}

			});
		}

		
		function LogOut()
		{
			document.body.style.cursor = 'wait';
			$.ajax({
				type: 'POST',
				url: '@Url.Action("Logout", "Users")',
				success: function ()
				{
					document.body.style.cursor = 'default';
				},
				error: function ()
				{
					alert('Nie udało się wylogować.');
					document.body.style.cursor = 'default';
				}

			});
		}

		$(document).ready(function ()
		{
			var array = window.location.pathname.split('/');
			var userNumber = array[array.length - 1];
			GetUser(userNumber);
		});

		

		$('#edit').on('click',
			function ()
			{
				window.location = '/Home/EditUser/' + user.id;
			});

		$('#logOut').on('click',
			function () {
				LogOut();
				window.location = '/Home/Index';
			});
	</script>
}
}
