tbody tr
{
	cursor: pointer;
}

#searchHeading
{
	margin-bottom: 15px;
}

.page-link
{
	color: black;
	background-color: lightgrey;
	border-color: black;
}

.page-item :hover
{
	color: black;
	background-color: #c2c2c2;
	border-color: black;
	cursor: pointer;
}

.noWork :hover
{
	cursor: default;
	background-color: #b1b1b1;
}

.noWork > a
{
	background-color: #b1b1b1;
}